
@{
    ViewBag.Title = "CustomerLoanDetail";
}

<h2>Loan Detail</h2>
<div>
    <h4>Your loan transaction</h4>
    <hr />

    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="/Software/CustomerProfile" class="btn btn-default">Back</a>
            <button class="btn btn-primary" id="buttonClickEdit" onclick="buttonClickEdit()">Change</button>
            <button class="btn btn-success" id="buttonClickSubmit" onclick="buttonClickSubmit()">Submit</button>
            <button class="btn btn-primary" id="buttonClickPrint" onclick="buttonClickPrint()">Print</button>
            <button class="btn btn-warning" id="buttonClickCancel" onclick="buttonClickCancel()">Cancel</button>
        </div>
    </div>

    <div class="alert alert-info text-center">
        <span id="spanRemarks"></span>
    </div>

    <table class="table table-striped">
        <tbody>
            <tr>
                <td class="col-md-2"><b>Loan Number:</b></td>
                <td class="col-md-10">
                    <span id="spanLoanNumber"></span>
                </td>
            </tr>
            <tr>
                <td><b>Customer Name:</b></td>
                <td>
                    <span id="spanCustomerName"></span>
                </td>
            </tr>
            <tr>
                <td><b>Term:</b></td>
                <td>
                    <span id="spanTerm"></span>
                </td>
            </tr>
        </tbody>
    </table>

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#tabComputations">Computations</a></li>
    </ul>

    <br />

    <div class="tab-content">
        <div id="tabComputations" class="tab-pane fade in active">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal" role="form">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Principal Amount</label>
                                    <div class="col-sm-8">
                                        <input id="inputPrincipalAmount" class="form-control text-right number" readonly />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Interest Percentage</label>
                                    <div class="col-sm-8">
                                        <input id="inputInterestPercentage" class="form-control text-right number" readonly />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Interest Amount</label>
                                    <div class="col-sm-8">
                                        <input id="inputInterestAmount" class="form-control text-right number" readonly />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Loan Amount</label>
                                    <div class="col-sm-8">
                                        <input id="inputLoanAmount" class="form-control text-right number" readonly />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Net Amount</label>
                                    <div class="col-sm-8">
                                        <input id="inputNetAmount" class="form-control text-right number" readonly />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Amortization</label>
                                    <div class="col-sm-8">
                                        <input id="inputAmortizationAmount" class="form-control text-right number" readonly />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Total Paid</label>
                                    <div class="col-sm-8">
                                        <input id="inputTotalPaidAmount" class="form-control text-right number" readonly />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Total Penalty</label>
                                    <div class="col-sm-8">
                                        <input id="inputTotalPenaltyAmount" class="form-control text-right number" readonly />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Ending Balance</label>
                                    <div class="col-sm-8">
                                        <input id="inputEndingBalanceAmount" class="form-control text-right number" readonly />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Status</label>
                                    <div class="col-sm-8">
                                        <input id="inputStatus" class="form-control" readonly />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#tabPayments">Payments and Penalties</a></li>
    </ul>

    <br />

    <div class="tab-content">
        <div id="tabPayments" class="tab-pane fade in active">
            <div id=""></div>
        </div>
    </div>
</div>

<div class="modal fae" id="modalLoanSubmitForm" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalTitle">Submit Loan</h4>
            </div>
            <div class="modal-body">
                <p class="lead"><b>TERMS AND CONDITIONS</b></p>
                <p>1. LENDING  company is duly organized and existing under and by virtue of the laws of the Philippines, with principal office address at cebu eastern college.</p>
                <p>2. AMOUNT OF LOAN. The LENDER hereby extends to the BORROWER a cash loan.</p>
                <p>3. INTEREST. The LOAN shall bear interest depending by the selected term.</p>
                <p>4. TERM. The BORROWER hereby agrees to pay the LENDER the LOAN plus the Interest Rate, according by selected term counted from the date of receipt of LOAN, or any portion thereof.</p>
                <p>5. PRE-PAYMENT. The BORROWER may fully pre-pay the LOAN, including the interests before the DUE DATE.</p>
                <p>7. LOAN TERM EXTENSION. The Loan Term may be extended subject to additional terms and conditions set by the LENDER, such as, but not limited to, the following:</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7.1. The BORROWER may request for a Loan Term extension from the LENDER on or before the DUE DATE;</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7.2. The BORROWER must have paid at least: (i) three percent (3%) of the LOAN with the term of One (1) calendar month; (ii) six percent (6%) of the LOAN with the term of two (2) calendar month;(iii) nine percent (9%) of the LOAN with the term of three (3) calendar month;(iv) twilve percent (12%) of the LOAN with the term of four (4) calendar month;(v)  (15%) of the LOAN with the term of five(5) calendar month; and (vi)(18%) of the LOAN with the term of six(six) months.</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7.3. Every request for Loan is subject for approval.</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7.4. BORROWER shall not pay processing fee.</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7.5. The Loan Term extension shall commence from the date the BORROWER complies with all the terms and conditions set forth in this Section; and</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7.6. BORROWER may request for additional Loan Term extension/s over and above the initial Loan Term extension subject to payment of forty percent (18%) of the LOAN with any initial term and subject to the same terms and conditions as imposed for the initial Loan Term extension under Clauses 7.1, 7.3 to 7.5 hereof.</p>
                <p>8. LOAN RELEASE. The LOAN shall be released to the BORROWER through pick up in the office. BORROWER hereby acknowledges receipt of the LOAN upon release.</p>
                <p>9. PAYMENT. The Borrower hereby agrees to pay the LOAN, including applicable  interests, in full, on or before the DUE DATE, without need of further notice or demand from the LENDER. Should the BORROWER fails to pay the LOAN on the DUE DATE for the first time, the LENDER may grant the BORROWER a one-time grace period of three (3) days within which to pay the LOAN, or the balance thereof.</p>
                <p>10. APPLICATION OF PAYMENT. Any payment by the BORROWER to the LENDER shall be applied in the following order:</p>
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Against reasonable costs, expenses and indemnities due hereunder, if any,<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Against Loan Term Extension Fee/s, if any;<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Against the principal amount of LOAN; and<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Against Late Payment Fee/s, if any.<br />
                </p>
                <br />
                <br />
                Are you sure you want to submit this application?
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" onclick="buttonClickConfirmSubmitLoan()">Accept and Submit</button>
                <button class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fae" id="modalLoanDetailForm" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalTitle">Edit Loan</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Principal Amount:</label>
                        <input id="inputEditPrincipalAmount" class="form-control text-right number input-lg" />
                    </div>
                    <div class="form-group">
                        <label>Term:</label>
                        <div id="wijmoComboboxTerm"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="buttonClickUpdateLoan" onclick="buttonClickUpdateLoan()">Update</button>
                <button class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fae" id="modalLoanCancelForm" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalTitle">Cancel Loan</h4>
            </div>
            <div class="modal-body">
                You are about to cancel this loan application. This cannot be undone once this processed.

                <br />
                <br />
                Are you sure you want to cancel this application?
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning" onclick="buttonClickConfirmCancelLoan()">Cancel</button>
                <button class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var wijmoComboboxTerm;

    function getURLParameterValue(name) {
        name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");

        var regexS = "[\\?&]" + name + "=([^&#]*)";
        var regex = new RegExp(regexS);

        var results = regex.exec(window.location.href);
        if (results == null) {
            return "";
        } else {
            return results[1];
        }
    }

    function getLoanDetail() {
        if (document.location.search.length > 0) {
            var loanId = getURLParameterValue("loanId");

            $.ajax({
                url: '/api/current/loan/detail/' + loanId,
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (results) {
                    if (results != null) {
                        document.getElementById("spanLoanNumber").innerHTML = results.LoanNumber;
                        document.getElementById("spanCustomerName").innerHTML = results.Customer;
                        document.getElementById("spanTerm").innerHTML = results.Term;
                        document.getElementById("inputPrincipalAmount").value = parseFloat(results.PrincipalAmount).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        document.getElementById("inputInterestPercentage").value = parseFloat(results.InterestPercentage).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        document.getElementById("inputInterestAmount").value = parseFloat(results.InterestAmount).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        document.getElementById("inputLoanAmount").value = parseFloat(results.LoanAmount).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        document.getElementById("inputNetAmount").value = parseFloat(results.NetAmount).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        document.getElementById("inputAmortizationAmount").value = parseFloat(results.AmortizationAmount).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        document.getElementById("inputTotalPaidAmount").value = parseFloat(results.PaidAmount).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        document.getElementById("inputTotalPenaltyAmount").value = parseFloat(results.PenaltyAmount).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        document.getElementById("inputEndingBalanceAmount").value = parseFloat(results.BalanceAmount).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        document.getElementById("inputStatus").value = results.Status;
                        document.getElementById("spanRemarks").innerHTML = results.Remarks;

                        if (results.IsClosed) {
                            document.getElementById("buttonClickSubmit").disabled = true;
                            document.getElementById("buttonClickCancel").disabled = true;
                            document.getElementById("buttonClickPrint").disabled = true;
                            document.getElementById("buttonClickEdit").disabled = true;
                        } else {
                            if (results.IsDeclined) {
                                document.getElementById("buttonClickSubmit").disabled = true;
                                document.getElementById("buttonClickCancel").disabled = true;
                                document.getElementById("buttonClickPrint").disabled = true;
                                document.getElementById("buttonClickEdit").disabled = true;
                            } else {
                                if (results.IsCancelled == true) {
                                    document.getElementById("buttonClickSubmit").disabled = true;
                                    document.getElementById("buttonClickCancel").disabled = true;
                                    document.getElementById("buttonClickPrint").disabled = true;
                                    document.getElementById("buttonClickEdit").disabled = true;
                                } else {
                                    if (results.IsSubmitted == true) {
                                        document.getElementById("buttonClickSubmit").disabled = true;
                                        document.getElementById("buttonClickEdit").disabled = true;
                                    }
                                    else {
                                        document.getElementById("buttonClickCancel").disabled = true;
                                        document.getElementById("buttonClickPrint").disabled = true;
                                    }
                                }
                            }
                        }
                    } else {
                        alert("No Data");
                        window.location = "/Software/CustomerProfile";
                    }
                }
            });
        } else {
            alert("No Id Parameter Value");
            window.location = "/Software/Collection";
        }
    }

    function buttonClickSubmit() {
        $("#modalLoanSubmitForm").modal({
            show: true,
            backdrop: "static"
        });
    }

    function buttonClickConfirmSubmitLoan() {
        if (document.location.search.length > 0) {
            var loanId = getURLParameterValue("loanId");

            $.ajax({
                url: "/api/current/loan/submit/" + loanId,
                type: "PUT",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                statusCode: {
                    200: function () {
                        $("#modalLoanSubmitForm").modal("hide");
                        toastr.success("Submit Successful");

                        setTimeout(function () {
                            location.reload();
                        }, 1000);
                    },
                    404: function (message) {
                        $("#modalLoanDeleteForm").modal("hide");
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 404 - Not Found");
                    },
                    400: function (message) {
                        $("#modalLoanDeleteForm").modal("hide");
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 400 - Bad Request");
                    },
                    500: function (message) {
                        $("#modalLoanDeleteForm").modal("hide");
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 500 - Internal Server Error");
                    }
                }
            });
        } else {
            toastr.error("Invalid URL parameter value.", "Error 400 - Bad Request");
        }
    }

    function buttonClickEdit() {
        $("#modalLoanDetailForm").modal({
            show: true,
            backdrop: "static"
        });

        createWijmoComboboxTerm();
        document.getElementById("inputEditPrincipalAmount").value = formatDecimalValues(0);
    }

    function buttonClickUpdateLoan() {
        if (document.location.search.length > 0) {
            var loanId = getURLParameterValue("loanId");

            var loanObject = new Object();
            loanObject.TermId = wijmoComboboxTerm.selectedValue;
            loanObject.PrincipalAmount = document.getElementById("inputEditPrincipalAmount").value;
            var loanData = JSON.stringify(loanObject);

            $.ajax({
                url: "/api/current/loan/update/" + loanId,
                type: "PUT",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: loanData,
                statusCode: {
                    200: function (loanId) {
                        toastr.success("Update Successful");

                        setTimeout(function () {
                            location.reload();
                        }, 1000);
                    },
                    404: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 404 - Not Found");
                    },
                    400: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 400 - Bad Request");
                    },
                    500: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 500 - Internal Server Error");
                    }
                }
            });
        } else {
            toastr.error("Invalid URL parameter value.", "Error 400 - Bad Request");
        }
    }

    function buttonClickCancel() {
        $("#modalLoanCancelForm").modal({
            show: true,
            backdrop: "static"
        });
    }

    function buttonClickConfirmCancelLoan() {
        if (document.location.search.length > 0) {
            var loanId = getURLParameterValue("loanId");

            $.ajax({
                url: "/api/current/loan/cancel/" + loanId,
                type: "PUT",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                statusCode: {
                    200: function () {
                        $("#modalLoanCancelForm").modal("hide");
                        toastr.success("Cancel Successful");

                        setTimeout(function () {
                            location.reload();
                        }, 1000);
                    },
                    404: function (message) {
                        $("#modalLoanDeleteForm").modal("hide");
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 404 - Not Found");
                    },
                    400: function (message) {
                        $("#modalLoanDeleteForm").modal("hide");
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 400 - Bad Request");
                    },
                    500: function (message) {
                        $("#modalLoanDeleteForm").modal("hide");
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 500 - Internal Server Error");
                    }
                }
            });
        } else {
            toastr.error("Invalid URL parameter value.", "Error 400 - Bad Request");
        }
    }

    function createWijmoComboboxTerm() {
        var termObservableArray = new wijmo.collections.ObservableArray();
        $.ajax({
            url: '/api/current/loan/dropdown/list/term',
            cache: false,
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            success: function (results) {
                if (results.length > 0) {
                    for (i = 0; i < results.length; i++) {
                        termObservableArray.push({
                            Id: results[i]["Id"],
                            Term: results[i]["Term"],
                            NumberOfMonths: results[i]["NumberOfMonths"],
                            DefaultInterestId: results[i]["DefaultInterestId"],
                            LimitAmount: results[i]["LimitAmount"]
                        });
                    }
                }

                wijmoComboboxTerm.dispose();
                wijmoComboboxTerm = new wijmo.input.ComboBox('#wijmoComboboxTerm', {
                    placeholder: "Select Term",
                    itemsSource: termObservableArray,
                    displayMemberPath: "Term",
                    selectedValuePath: "Id"
                });
            }
        });
    }

    window.onload = function () {
        getLoanDetail();
        wijmoComboboxTerm = new wijmo.input.ComboBox('#wijmoComboboxTerm');
    }
</script>