<div class="container body-content">
    <h2>Loan List</h2>
    <div>
        <h4>List of all loans</h4>
        <hr />

        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="/Software" class="btn btn-default">Back</a>
                <button class="btn btn-primary" onclick="buttonClickAddCreate()">Create</button>
            </div>
        </div>

        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tabActivity">Transactions (Activities)</a></li>
        </ul>

        <br />

        <div class="tab-content">
            <div id="tabActivity" class="tab-pane fade in active">
                <div class="row">
                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Filters
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label>Date Start</label>
                                    <div id="wijmoInputDateStartDate"></div>
                                </div>
                                <div class="form-group">
                                    <label>Date End</label>
                                    <div id="wijmoInputDateEndDate"></div>
                                </div>
                                <div class="form-group">
                                    <label>Transaction</label>
                                    <div id="wijmoComboboxTransactionType"></div>
                                </div>
                                <div class="form-group">
                                    <label>Filter</label>
                                    <input class="form-control" id="filterText" placeholder="Filter text" />
                                </div>
                            </div>
                            <div class="panel-footer">
                                <button class="btn btn-success btn-block" onclick="buttonGetData()">Refresh (Get Data)</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div id="wijmoGridLoanList"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fae" id="modalLoanDetailForm" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalTitle">Loan Detail</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Customer:</label>
                        <div id="wijmoComboboxCustomer"></div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label>Principal Amount:</label>
                        <input id="inputPrincipalAmount" class="form-control text-right number input-lg" />
                    </div>
                    <div class="form-group">
                        <label>Term:</label>
                        <div id="wijmoComboboxTerm"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="buttonClickCreateLoan" onclick="buttonClickCreateLoan()">Create</button>
                <button class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fae" id="modalLoanDeleteForm" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalTitle">Delete Loan</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this loan?
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" onclick="buttonClickConfirmDeleteLoan()">Delete</button>
                <button class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var wijmoInputDateStartDate;
    var wijmoInputDateEndDate;
    var wijmoComboboxTransactionType;

    var wijmoCollectionViewLoanList;
    var wijmoGridLoanList;

    var wijmoComboboxCustomer;
    var wijmoComboboxTerm;

    function getDataLoanList() {
        var loanListObservableArray = new wijmo.collections.ObservableArray;

        var startDate = wijmoInputDateStartDate.value.toLocaleDateString().replace(/\//g, '-');
        var endDate = wijmoInputDateEndDate.value.toLocaleDateString().replace(/\//g, '-');
        var transactionType = wijmoComboboxTransactionType.text;
        var filterText = document.getElementById("filterText").value;

        $.ajax({
            url: "/api/loan/list/" + startDate + "/ " + endDate + "/" + transactionType + "?filterText=" + filterText,
            cache: false,
            type: "GET",
            contentType: "application/json; charset=utf-8",
            success: function (results) {
                if (results.length > 0) {
                    for (var i = 0; i < results.length; i++) {
                        loanListObservableArray.push({
                            ButtonView: "<button class='btn btn-primary btn-xs btn-block' onclick='buttonClickView()'>View</button>",
                            ButtonDelete: "<button class='btn btn-danger btn-xs btn-block' onclick='buttonClickDelete()'>Delete</button>",
                            Id: results[i]["Id"],
                            LoanNumber: results[i]["LoanNumber"],
                            LoanDate: results[i]["LoanDate"],
                            CustomerId: results[i]["CustomerId"],
                            Customer: results[i]["Customer"],
                            TermId: results[i]["TermId"],
                            Term: results[i]["Term"],
                            PrincipalAmount: results[i]["PrincipalAmount"],
                            PrincipalAmountDisplay: parseFloat(results[i]["PrincipalAmount"]).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                            InterestId: results[i]["InterestId"],
                            Interest: results[i]["Interest"],
                            InterestPercentage: results[i]["InterestPercentage"],
                            InterestPercentageDisplay: parseFloat(results[i]["InterestPercentage"]).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                            InterestAmount: results[i]["InterestAmount"],
                            InterestAmountDisplay: parseFloat(results[i]["InterestAmount"]).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                            LoanAmount: results[i]["LoanAmount"],
                            LoanAmountDisplay: parseFloat(results[i]["LoanAmount"]).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                            NetAmount: results[i]["NetAmount"],
                            NetAmountDisplay: parseFloat(results[i]["NetAmount"]).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                            AmortizationAmount: results[i]["AmortizationAmount"],
                            AmortizationAmountDisplay: parseFloat(results[i]["AmortizationAmount"]).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                            PaidAmount: results[i]["PaidAmount"],
                            PaidAmountDisplay: parseFloat(results[i]["PaidAmount"]).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                            PenaltyAmount: results[i]["PenaltyAmount"],
                            PenaltyAmountDisplay: parseFloat(results[i]["PenaltyAmount"]).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                            BalanceAmount: results[i]["BalanceAmount"],
                            BalanceAmountDisplay: parseFloat(results[i]["BalanceAmount"]).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                            Remarks: results[i]["Remarks"],
                            Status: results[i]["Status"],
                            IsLocked: results[i]["IsLocked"],
                        });
                    }
                }
            }
        });

        return loanListObservableArray;
    }

    function createWijmoGridLoanList() {
        wijmoCollectionViewLoanList = new wijmo.collections.CollectionView(getDataLoanList());
        wijmoCollectionViewLoanList.canFilter = true;

        wijmoGridLoanList = new wijmo.grid.FlexGrid("#wijmoGridLoanList");
        wijmoGridLoanList.initialize({
            columns: [
                {
                    "header": "View",
                    "binding": "ButtonView",
                    "width": 70,
                    "align": "center",
                    "allowResizing": false,
                    "allowSorting": false,
                    "isContentHtml": true
                },
                {
                    "header": "Delete",
                    "binding": "ButtonDelete",
                    "width": 70,
                    "align": "center",
                    "allowResizing": false,
                    "allowSorting": false,
                    "isContentHtml": true
                },
                {
                    "header": "L",
                    "binding": "IsLocked",
                    "allowSorting": true,
                    "width": 40
                },
                {
                    "header": "Loan No.",
                    "binding": "LoanNumber",
                    "allowSorting": true,
                    "width": 100
                },
                {
                    "header": "Date",
                    "binding": "LoanDate",
                    "allowSorting": true,
                    "width": 90
                },
                {
                    "header": "Customer",
                    "binding": "Customer",
                    "allowSorting": true,
                    "width": 200
                },
                {
                    "header": "Principal",
                    "binding": "PrincipalAmountDisplay",
                    "allowSorting": true,
                    "align": "right",
                    "width": 100
                },
                {
                    "header": "Paid",
                    "binding": "PaidAmountDisplay",
                    "allowSorting": true,
                    "align": "right",
                    "width": 100
                },
                {
                    "header": "Penalty",
                    "binding": "PenaltyAmountDisplay",
                    "allowSorting": true,
                    "align": "right",
                    "width": 100
                },
                {
                    "header": "Balance",
                    "binding": "BalanceAmountDisplay",
                    "allowSorting": true,
                    "align": "right",
                    "width": 100
                },
                {
                    "header": "Status",
                    "binding": "Status",
                    "allowSorting": true,
                    "width": 100
                }
            ],
            autoGenerateColumns: false,
            itemsSource: wijmoCollectionViewLoanList,
            isReadOnly: true,
            autoSizeMode: wijmo.grid.AutoSizeMode.Both,
            allowDragging: wijmo.grid.AllowDragging.None,
            selectionMode: wijmo.grid.SelectionMode.Row,
            frozenColumns: 3
        });
    }

    function buttonClickView() {

    }

    function buttonClickAddCreate() {
        document.getElementById("modalTitle").innerHTML = "Create Loan";

        $("#modalLoanDetailForm").modal({
            show: true,
            backdrop: "static"
        });

        createWijmoComboboxCustomer();
        document.getElementById("inputPrincipalAmount").value = formatDecimalValues(0);
    }

    function buttonClickCreateLoan() {
        var loanObject = new Object();
        loanObject.CustomerId = wijmoComboboxCustomer.selectedValue;
        loanObject.TermId = wijmoComboboxTerm.selectedValue;
        loanObject.PrincipalAmount = document.getElementById("inputPrincipalAmount").value;
        var loanData = JSON.stringify(loanObject);

        $.ajax({
            url: "/api/loan/create",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: loanData,
            statusCode: {
                200: function (id) {
                    $("#modalLoanDetailForm").modal("hide");
                    toastr.success("Create Successful");

                    setTimeout(function () {
                        window.location = "/Software/LoanDetail?id=" + id;
                    }, 1000);
                },
                404: function (message) {
                    toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 404 - Not Found");
                },
                400: function (message) {
                    toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 400 - Bad Request");
                },
                500: function (message) {
                    toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 500 - Internal Server Error");
                }
            }
        });
    }

    function createWijmoComboboxCustomer() {
        var customerObservableArray = new wijmo.collections.ObservableArray();
        $.ajax({
            url: '/api/loan/dropdown/list/customer',
            cache: false,
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            success: function (results) {
                if (results.length > 0) {
                    for (i = 0; i < results.length; i++) {
                        customerObservableArray.push({
                            Id: results[i]["Id"],
                            FullName: results[i]["FullName"]
                        });
                    }
                }

                wijmoComboboxCustomer.dispose();
                wijmoComboboxCustomer = new wijmo.input.ComboBox('#wijmoComboboxCustomer', {
                    placeholder: "Select Customer",
                    itemsSource: customerObservableArray,
                    displayMemberPath: "FullName",
                    selectedValuePath: "Id"
                });

                createWijmoComboboxTerm();
            }
        });
    }

    function createWijmoComboboxTerm() {
        var termObservableArray = new wijmo.collections.ObservableArray();
        $.ajax({
            url: '/api/loan/dropdown/list/term',
            cache: false,
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            success: function (results) {
                if (results.length > 0) {
                    for (i = 0; i < results.length; i++) {
                        termObservableArray.push({
                            Id: results[i]["Id"],
                            Term: results[i]["Term"]
                        });
                    }
                }

                wijmoComboboxTerm.dispose();
                wijmoComboboxTerm = new wijmo.input.ComboBox('#wijmoComboboxTerm', {
                    placeholder: "Select Term",
                    itemsSource: termObservableArray,
                    displayMemberPath: "Term",
                    selectedValuePath: "Id"
                });
            }
        });
    }

    function buttonGetData() {
        wijmoCollectionViewLoanList = new wijmo.collections.CollectionView(getDataLoanList());
        wijmoCollectionViewLoanList.canFilter = true;
        wijmoGridLoanList.itemsSource = wijmoCollectionViewLoanList;
    }

    function buttonClickView() {
        wijmoCollectionViewLoanList.editItem(wijmoCollectionViewLoanList.currentItem);
        var id = wijmoCollectionViewLoanList.currentEditItem.Id;

        window.location = "/Software/LoanDetail?id=" + id;
    }

    function buttonClickDelete() {
        $("#modalLoanDeleteForm").modal({
            show: true,
            backdrop: "static"
        });
    }

    function buttonClickConfirmDeleteLoan() {
        wijmoCollectionViewLoanList.editItem(wijmoCollectionViewLoanList.currentItem);
        var id = wijmoCollectionViewLoanList.currentEditItem.Id;

        $.ajax({
            url: "/api/loan/delete/" + id,
            type: "DELETE",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            statusCode: {
                200: function () {
                    buttonGetData();

                    $("#modalLoanDeleteForm").modal("hide");
                    toastr.success("Delete Successful");
                },
                404: function (message) {
                    toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 404 - Not Found");
                },
                400: function (message) {
                    toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 400 - Bad Request");
                },
                500: function (message) {
                    toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 500 - Internal Server Error");
                }
            }
        });
    }

    window.onload = function () {
        var date = new Date();

        wijmoInputDateStartDate = new wijmo.input.InputDate('#wijmoInputDateStartDate', {
            format: 'MM-dd-yyyy',
            value: new Date(date.getFullYear(), date.getMonth(), 1)
        });

        wijmoInputDateEndDate = new wijmo.input.InputDate('#wijmoInputDateEndDate', {
            format: 'MM-dd-yyyy',
            value: new Date(date.getFullYear(), date.getMonth() + 1, 0)
        });

        var statusObservableArray = new wijmo.collections.ObservableArray();
        statusObservableArray.push("All");
        statusObservableArray.push("Open");
        statusObservableArray.push("Close");

        wijmoComboboxTransactionType = new wijmo.input.ComboBox('#wijmoComboboxTransactionType', {
            placeholder: "Select Transaction Type",
            itemsSource: statusObservableArray
        });

        wijmoComboboxTransactionType.text = "Open";

        createWijmoGridLoanList();
        wijmoComboboxCustomer = new wijmo.input.ComboBox('#wijmoComboboxCustomer');
        wijmoComboboxTerm = new wijmo.input.ComboBox('#wijmoComboboxTerm');
    }
</script>
