body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

@media(min-width: 768px)
{
    .dl-horizontal dt {
        width: 170px;
        margin-top: 6.5px;
    }

    .dl-horizontal dd {
        margin-left: 200px;
        margin-bottom: 7px;
    }
}